* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
}
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
span {
	color: red;
}
a {
	text-decoration: none;
}

.container,
.container-main {
	width: 1680px;
	margin: 0 auto;
}

.menu__navigation {
	height: 37px;
	background-color: #0c1111;
}

.menu__navigation-wrap {
	display: flex;
	height: 37px;
	justify-content: space-between;
}

.menu__navigation-address_wrap {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	gap: 20px;
}

.menu__navigation-address {
	display: flex;
	align-items: center;
}

.menu__navigation-address::before {
	content: '';
	background-image: url('../img/icon/location.svg');
	color: white;
	display: block;
	width: 10px;
	height: 10px;
	margin-right: 10px;
}

.location {
	color: #e0e0e0;
	font-size: 12px;
	font-weight: 400;
	margin-right: 27px;
}

.address a {
	color: #e0e0e0;
	font-size: 12px;
	font-weight: 400;
	text-decoration-line: underline;
}
.address a {
	color: #f66;
}
.menu__navigation-phone {
	display: flex;
	gap: 18px;
}
.menu__navigation-phone a {
	color: #fff;
	font-size: 14px;
	font-weight: 700;
	text-decoration: none;
	transition: 0.5s;
}

.menu__navigation-list_wrap {
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.menu__navigation-btns {
	margin-right: 36px;
	display: flex;
}

.menu__navigation-btn {
	width: 172px;
	height: 26px;
	border-radius: 7px;
	background: #333;
	border: none;
	transition: 0.5s;
}
.menu__navigation-btn:hover {
	background: #27ae60;
}

.menu__navigation-btn a {
	color: #fff;
	font-size: 12px;
	text-decoration: none;
}

.menu__navigation-list {
	display: flex;
	list-style-type: none;
	justify-content: space-between;
	gap: 17px;
}

.menu__navigation-list a {
	font-size: 12px;
	color: #bdbdbd;
	text-decoration: none;
	transition: 0.5s;
}

.menu__main-wrap {
	padding: 10px 0 6px;
	display: flex;
	height: 92px;
	justify-content: space-between;
}
.logo {
	margin-right: 83px;
}
.menu__main,
.menu__search-wrap,
.menu__user-wrap {
	display: flex;
	align-items: center;
}

.menu__main-catalog_btn {
	margin-right: 16px;
	border-radius: 10px;
	background: #0c1111;
	width: 147px;
	height: 40px;
}

.menu__main-catalog_btn .catalog {
	color: #fff;
	font-size: 14px;
	font-weight: 700;
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
}

.menu__main-catalog_btn .catalog::before {
	margin-right: 7px;
	display: block;
	content: '';
	width: 16px;
	height: 9px;
	background-image: url('../img/icon/catalog-line.svg');
}

.menu__search {
	padding: 2px;
	width: 659px;
	height: 40px;
	border-radius: 10px;
	background: #e0e0e0;
	display: flex;
	align-items: center;
}

.menu__search input {
	width: 571px;
	height: 36px;
	border-radius: 9px;
	background: #fff;
	border: none;
	padding-left: 27px;
	padding-right: 27px;
}
.menu__search input::placeholder {
	color: #828282;
	font-size: 14px;
	font-weight: 400;
}
.menu__search a {
	margin: 0 auto;
}

.menu__user-login {
	width: 100px;
	height: 40px;
	padding: 8px;
	border-radius: 20px;
	background: #f2f3f5;
	border: none;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	margin-right: 26px;
}

.circle__wrap {
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 29px;
	border: 1px solid #0c1111;
	background: #fff;
	width: 29px;
	height: 29px;
	margin-right: 8px;
}

.menu__user-login a {
	color: #333;
	font-size: 12px;
	font-weight: 600;
	text-decoration: none;
}
.menu__user-items {
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
	gap: 16px;
}
.menu__user-order,
.menu__user-comparison,
.menu__user-favorite,
.menu__user-basket {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.menu__user-order a,
.menu__user-comparison a,
.menu__user-favorite a,
.menu__user-basket a {
	color: #333;
	font-size: 12px;
	text-decoration: none;
	color: #333;
	display: flex;
	font-size: 12px;
	flex-direction: column;
	text-decoration: none;
	justify-content: center;
	align-items: center;
}
.menu__user-basket a {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.menu__user-basket span {
	position: absolute;
	top: -5px;
	right: 0;
	text-align: center;
	color: #fff;
	font-size: 13px;
	font-weight: 600;
	line-height: 14px;
	width: 21px;
	height: 15px;
	border-radius: 7px;
	background: #f66;
}
.submenu {
	position: relative;
	z-index: 20;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 32px;
	box-shadow: 0 4px 5px #f2f3f5;
}
.submenu__categories {
	display: flex;
	gap: 26px;
}
.submenu__categories a,
.submenu__brand a {
	color: #0c1111;
	font-size: 14px;
	font-weight: 600;
	text-transform: capitalize;
	text-decoration: none;
}
.submenu__brand {
	display: flex;
	gap: 29px;
}
.submenu__brand span {
	color: #f66;
	font-weight: 600;
}

.breadcrumbs {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	margin-top: 15px;
}
.main__page {
	color: #333;
	font-size: 12px;
}
.main__page::after {
	content: '/';
	margin: 0 5px;
}
.help__page {
	color: #bdbdbd;
	font-size: 12px;
}

.main__title-wrap {
	display: flex;
	margin: 26px 0 50px;
	justify-content: space-between;
	align-items: center;
}
.main__title {
	color: #000;
	font-size: 26px;
	font-weight: 600;
	line-height: 38px;
}
.main__phone {
	align-items: center;
	display: flex;
	gap: 40px;
}
.main__hotline {
	color: #000;
	font-size: 14px;
	line-height: 24px;
	letter-spacing: 0.14px;
}
.main__phone-number {
	color: #333;
	font-size: 24px;
	font-weight: 600;
	line-height: 38px;
	letter-spacing: 0.24px;
	text-decoration: none;
}
.main__items-wrap {
	display: grid;
	grid-template-columns: repeat(2, 432px) 778px;
	grid-template-rows: 173px 135px 222px;
	gap: 16px;
}

.help {
	width: 432px;
	height: 326px;
	border-radius: 20px;
	background: linear-gradient(90deg, #e2e6eb 0%, #f3f1f5 69.93%);
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: flex-start;
	padding: 26px 49px;
	position: relative;
}
.help img {
	position: absolute;
	top: -25px;
	width: 253px;
	height: 198.067px;
}
.delivery__title-mobile {
	display: none;
}
.help__title,
.refund__title,
.pay__title,
.warranty__title,
.delivery__title {
	color: #333;
	font-size: 24px;
	font-weight: 700;
	line-height: 38px;
	letter-spacing: 0.24px;
}
.help__subtitle,
.refund__descr,
.warrnty__descr,
.delivery__descr {
	color: #000;
	font-size: 14px;
	line-height: 24px;
	letter-spacing: 0.14px;
}
.help__btn,
.refund__btn,
.warranty__btn,
.delivery__btn,
.menu__search-live_category_btn button {
	margin-top: 20px;
	border-radius: 10px;
	background: #0c1111;
	width: 216px;
	height: 50px;
	color: #fff;
	font-size: 14px;
	font-weight: 600;
	cursor: pointer;
	transition: 0.5s;
	border: none;
}
.warranty__btn {
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.help__btn:hover,
.refund__btn:hover,
.warranty__btn:hover,
.delivery__btn:hover,
.footer__app-btn:hover,
.footer__subscribe-input button:hover,
.menu__search-live_category_btn button:hover {
	background-color: #27ae60;
}

.pay {
	width: 432px;
	height: 326px;
	border-radius: 20px;
	background: linear-gradient(90deg, #e2e6eb 0%, #f3f1f5 69.93%);
	position: relative;
	padding: 33px 10px 30px 45px;
}
.pay img {
	position: absolute;
	right: -20px;
	top: -38px;
}
.pay__title {
	margin-bottom: 26px;
}
.pay__links {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
	gap: 20px;
	list-style-type: none;
}
.pay__link a {
	color: #333;
	font-size: 14px;
	font-weight: 600;
	line-height: 24px;
	letter-spacing: 0.14px;
	text-decoration-line: underline;
}

.refund,
.delivery {
	width: 880px;
	height: 222px;
	border-radius: 20px;
	background: linear-gradient(90deg, #e2e6eb 0%, #f3f1f5 69.93%);
	display: flex;
	justify-content: space-between;
	align-items: center;
	grid-column: 1/3;
	grid-row: 3/4;
	padding: 15px 89px 15px 50px;
}
.refund__descr {
	color: #333;
}

.bonus,
.warranty {
	width: 778px;
	height: 173px;
	border-radius: 20px;
	background: linear-gradient(90deg, #ff8c00 0%, #ffbd00 100%);
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-between;
	align-items: center;
	padding: 33px 30px 30px 56px;
}
.bonus__wrap {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
}
.bonus__title {
	color: #fff;
	font-size: 26px;
	font-weight: 700;
	margin-bottom: 8px;
}
.bonus__list {
	color: #fff;
	font-size: 14px;
	font-weight: 600;
	margin: 0;
	padding: 0;
	list-style-type: disc;
}

.warranty {
	display: flex;
	flex-direction: row;
	grid-column: 3/4;
	background: linear-gradient(90deg, #e2e6eb 0%, #f3f1f5 69.93%);
	height: 136px;
	padding: 18px 47px 29px 55px;
}
.warrnty__descr {
	color: #333;
}

.delivery {
	grid-column: 3/4;
	flex-direction: row-reverse;
	padding: 18px 46px 19px 55px;
	width: 778px;
}

.make-order {
	margin-top: 36px;
}
.make-order__title,
.make-order__subtitle,
.make-order__item,
.easy-refund__title,
.easy-refund__subtitle,
.easy-refund__item,
.feedback__title,
.feedback__subtitle,
.feedback__item {
	color: #333;
	font-size: 26px;
	font-weight: 700;
	line-height: 24px;
}
.make-order__subtitle,
.make-order__item,
.easy-refund__subtitle,
.easy-refund__item,
.feedback__subtitle,
.feedback__item {
	font-size: 16px;
	font-weight: 400;
	margin: 36px auto;
}

.make-order__list,
.easy-refund__list,
.feedback__list {
	padding-left: 30px;
}
.make-order__item,
.easy-refund__item,
.feedback__item {
	margin: 0;
	line-height: 34px;
}

.feedback__item a {
	color: #333;
}

.easy-refund,
.feedback {
	margin-top: 50px;
}

.dont-found {
	margin-top: 65px;
	margin-bottom: 100px;
}
.dont-found__title,
.dont-found__subtitle {
	color: #333;
	font-size: 20px;
	font-weight: 600;
	line-height: 24px;
}
.dont-found__subtitle {
	margin-top: 40px;
	font-size: 16px;
}

.dont-found__subtitle a {
	color: #333;
	font-size: 16px;
	font-weight: 600;
}

.footer {
	min-height: 577px;
	background-color: #0c1111;
	padding-top: 74px;
	padding-bottom: 22px;
}

.footer__wrap {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}
.footer__help-title,
.footer__about-title,
.footer__contacts-phone_title,
.footer__contacts-address_title,
.footer__app-title,
.footer__subscribe-title {
	color: #fff;
	font-size: 24px;
	font-weight: 700;
}

.footer__help-links,
.footer__about-links {
	list-style-type: none;
	margin-top: 28px;
}
.footer__help-link a,
.footer__about-link a {
	text-decoration: none;
	color: #fff;
	font-size: 16px;
	font-weight: 400;
	line-height: 30px;
	transition: 0.5s;
}
.footer__help-link a:hover,
.footer__about-link a:hover {
	color: #f66;
}

.footer__contacts {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
}
.footer__contacts-phone_title {
	margin-bottom: 28px;
}
.footer__contacts-phone a {
	color: #fff;
	font-size: 16px;
	line-height: 30px;
	text-decoration: none;
}
.whatsapp,
.telegram {
	display: flex;
	align-items: center;
	gap: 12px;
}
.whatsapp::before,
.telegram::before {
	display: block;
	content: '';
	width: 17px;
	height: 17px;
	background-image: url(../img/icon/whatsapp.svg);
}
.telegram::before {
	background-image: url(../img/icon/telegram.svg);
}
.footer__contacts-phone {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: space-between;
}

.footer__contacts-address {
	margin-top: 27px;
	margin-bottom: 11px;
}
.footer__contacts-address_list {
	list-style-type: none;
}
.footer__contacts-address_item {
	color: #fff;
	font-size: 16px;
	line-height: 30px;
}

.footer__app-wrap {
	margin-top: 30px;
	display: flex;
	gap: 40px;
	justify-content: center;
	align-items: center;
}
.footer__app-btns {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 16px;
}
.footer__app-btn {
	width: 165px;
	height: 49px;
	border-radius: 7px;
	background: #333;
	border: none;
	transition: 0.5s;
}

.footer__subscribe-wrap {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.footer__subscribe-title {
	font-size: 18px;
	margin-bottom: 17px;
}
.footer__subscribe-input {
	display: flex;
	width: 672px;
	height: 46px;
	border-radius: 7px;
	background: #4f4f4f;
	justify-content: space-between;
	align-items: center;
}
.footer__subscribe-input button {
	width: 160px;
	height: 46px;
	border-radius: 7px;
	background: #333;
	border: none;
	color: #fff;
	font-size: 14px;
	line-height: 20px;
	transition: 0.5s;
	cursor: pointer;
}
.footer__subscribe-input input {
	width: 672px;
	height: 46px;
	border-radius: 7px;
	background: #4f4f4f;
	border: none;
	padding-left: 28px;
}
.footer__subscribe-input input::placeholder {
	color: #fff;
	font-size: 14px;
	line-height: 20px;
}
.footer__social-links {
	display: flex;
	justify-content: space-between;
	align-items: center;
	list-style-type: none;
	gap: 10px;
}

.footer hr {
	margin: 57px auto 17px;
	background: #333;
}

.footer__copyright p {
	color: #828282;
	font-size: 14px;
	line-height: 20px;
}
.menu__search-live_hide {
	display: none;
}
.menu__search-live {
	width: 659px;
	min-height: 300px;
	border-radius: 10px;
	background: #fff;
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);
	position: absolute;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	top: 112px;
	z-index: 100;
	transform: translate(-61%);
	left: 50%;
	padding: 32px 40px 13px 35px;
	transition: 0.5s;
}
.menu__search-live_list,
.menu__search-live_category_item {
	width: 583px;
	margin-bottom: 30px;
}
.menu__search-live_title {
	color: #333;
	font-size: 16px;
	font-weight: 700;
	margin-bottom: 16px;
}
.menu__search-live_link a,
.menu__search-live_category_link a {
	width: 100%;
	color: #333;
	font-size: 16px;
	font-weight: 600;
	border-bottom: 1px solid #ececec;
	text-decoration: none;
	padding: 8px;
}
.menu__search-live_link,
.menu__search-live_category_link {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 10px;
}
.menu__search-live_link::before {
	content: '';
	display: block;
	width: 20px;
	height: 15px;
	background-image: url(../img/icon/live-search.svg);
}
.menu__search-live_link::after,
.menu__search-live_category_link::after {
	content: '';
	display: block;
	width: 7px;
	height: 12px;
	background-image: url(../img/icon/arrow-black.svg);
	justify-content: flex-end;
}
.menu__search-live_category_product {
	width: 583px;
}

.menu__search-live_category_product-item {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid #ececec;
}

.menu__search-live_category_product-item a {
	color: #333;
	font-size: 14px;
	text-decoration: none;
}

.menu__search-live_category_product-item::before {
	content: '';
	display: block;
	width: 52px;
	height: 50px;
	border-radius: 10px;
	background: #f2f3f5;
	margin: 8px;
}
.price {
	color: #333;
	font-size: 16px;
	font-weight: 700;
	letter-spacing: 0.32px;
}

.menu__search-live_category_btn {
	width: 659px;
	height: 75px;
	border-radius: 0px 0px 10px 10px;
	background: #f2f3f5;
	position: absolute;
	bottom: 0;
	right: 0;
	left: 0;
}

.menu__search-live_category_btn button {
	display: block;
	margin: 14px auto;
}
.hide-list {
	display: none;
}
.menu__catalog {
	display: flex;
	justify-content: space-between;

	position: absolute;
	z-index: 10;
	background: #fff;
	box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.08);
	padding: 40px 18px 0 40px;
	overflow: auto;
}
.menu__catalog-hide {
	display: none;
}
.menu__catalog_item {
	width: 308px;
	height: 55px;
	color: #333;
	font-size: 14px;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	margin-bottom: 15px;
	gap: 20px;
	cursor: pointer;
	border-bottom: 1px solid #f5f5f5;
	padding-right: 22px;
}
.menu__catalog_item::after {
	content: '';
	display: block;
	width: 7px;
	height: 12px;
	background-image: url(../img/icon/arrow-black.svg);
	margin-left: auto;
}
.img__wrap {
	width: 40px;
	height: 40px;
	border-radius: 7px;
	background: #f2f3f5;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 5px;
}
.menu__catalog_item img {
	width: 100%;
}

.menu__catalog_item + .repair,
.menu__catalog_item + .rental {
	color: #000;
	font-size: 16px;
	font-weight: 600;
}
.active {
	width: 308px;
	height: 55px;
	border-radius: 5px;
	background: #f2f3f5;
	color: #ea5455;
	font-size: 14px;
}
.menu__catalog-optionally {
	padding-left: 36px;
	padding-bottom: 167px;
	display: grid;
	grid-template-columns: repeat(3, 313px);
	grid-template-rows: repeat(3, 1fr);
	column-gap: 75px;
	row-gap: 30px;
}

.menu__catalog-optionally_wrap {
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-bottom: 1px solid #f5f5f5;
	padding-bottom: 4px;
}
.menu__catalog-optionally-img {
	width: 52px;
	height: 40px;
	border-radius: 7px;
	background: #f2f3f5;
}

.menu__catalog-optionally_title {
	color: #000;
	font-size: 14px;
	font-weight: 700;
	line-height: 20px;
}

.menu__catalog-optionally_list a {
	color: #333;
	font-size: 14px;
	line-height: 30px;
	transition: 0.3s;
}
.menu__catalog-optionally_list a:hover {
	color: #ea5455;
	text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
	font-size: 14px;
	line-height: 30px;
}

.menu__catalog-optionally-images {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	grid-column: 4;
	grid-row: 1/4;
}

.menu__catalog-optionally-images_item {
	width: 120px;
	height: 120px;
	border-radius: 10px;
	background: #f2f3f5;
}

.menu__catalog-optionally_hide {
	display: none;
}
.container__mobile {
	display: none;
}

@media (max-width: 1700px) {
	.container,
	.container-main {
		width: 1440px;
	}
	.warranty,
	.bonus,
	.delivery {
		width: 700px;
	}
	.logo {
		margin-right: 30px;
	}
	.menu__search {
		width: 630px;
	}
	.main__items-wrap {
		grid-template-columns: repeat(3, 1fr);
	}
	.refund,
	.delivery {
		width: 100%;
	}
	.help,
	.pay,
	.refund,
	.bonus,
	.warranty,
	.delivery {
		width: 100%;
		padding: 20px 35px;
	}
	.pay img {
		right: -35px;
	}
	.help__title,
	.refund__title,
	.pay__title,
	.warranty__title,
	.delivery__title,
	.bonus__title {
		font-size: 23px;
	}
	.menu__catalog-optionally {
		grid-template-columns: repeat(3, 276px);
		gap: 30px;
	}
}
@media (max-width: 1440px) {
	.container,
	.container-main {
		width: 1200px;
	}
	.menu__navigation-wrap {
		width: 100%;
	}
	.location {
		margin-right: 15px;
	}
	.menu__navigation-address_wrap,
	.menu__navigation-phone {
		gap: 15px;
	}
	.menu__navigation-btn {
		width: 150px;
	}
	.menu__navigation-btns {
		margin-right: 20px;
		gap: 10px;
	}
	.menu__navigation-btn a {
		font-size: 11px;
	}
	.menu__navigation-phone a {
		font-size: 12px;
	}
	.menu__navigation-list {
		gap: 10px;
	}
	.menu__search {
		width: 400px;
	}
	.menu__search input {
		width: 350px;
	}
	.menu__catalog-optionally {
		grid-template-columns: repeat(3, 199px);
		gap: 30px;
	}
	.menu__catalog-optionally-images_item {
		width: 110px;
		height: 110px;
	}
	.menu__catalog-optionally_title,
	.menu__catalog-optionally_list a {
		font-size: 12px;
	}
	.main__items-wrap {
		justify-content: center;
		grid-template-columns: repeat(2, 480px);
		grid-template-rows: repeat(5, 0fr);
	}
	.help {
		grid-column: 1/2;
		align-items: center;
	}
	.pay {
		grid-column: 2/3;
	}
	.pay img {
		right: -20px;
		top: 10px;
	}
	.refund {
		grid-row: 2/3;
		grid-column: 1/3;
	}
	.bonus {
		grid-row: 3/4;
		grid-column: 1/3;
	}
	.warranty {
		grid-row: 4/5;
		grid-column: 1/3;
	}
	.delivery {
		grid-row: 5;
		grid-column: 1/3;
	}
}
@media (max-width: 1024px) {
	.container,
	.container-main {
		width: 980px;
	}
	.menu__navigation-list {
		display: none;
	}
	.menu__navigation-btns {
		margin-right: 0;
	}
	.main__items-wrap {
		grid-template-columns: repeat(2, 400px);
	}
	.logo {
		margin-right: 15px;
	}
	.menu__main-catalog_btn {
		width: 110px;
	}
	.menu__search {
		width: 235px;
	}
	.menu__catalog-optionally {
		grid-template-columns: repeat(2, 280px);
		gap: 20px;
		padding-bottom: 20px;
	}
	.menu__catalog-optionally-images {
		display: none;
	}
	.menu__search input {
		width: 190px;
	}
	.pay img {
		right: -20px;
		top: -35px;
	}
	.footer__help-link a,
	.footer__about-link a,
	.footer__contacts-phone a,
	.footer__contacts-address_item {
		font-size: 14px;
	}
	.footer__help-title,
	.footer__about-title,
	.footer__contacts-phone_title,
	.footer__contacts-address_title,
	.footer__app-title,
	.footer__subscribe-title {
		font-size: 22px;
	}
}

@media (max-width: 768px) {
	.container,
	.container-main {
		width: 720px;
		margin: 0 auto;
	}
	.menu__navigation {
		display: none;
	}
	.menu__search-wrap {
		display: grid;
		grid-template-columns: 55px 1fr 1fr;
		grid-template-rows: 0;
	}
	.menu__main-catalog_btn {
		width: 40px;
		grid-column: 1/2;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-around;
		border: none;
		background: transparent;
	}
	.menu__user-order,
	.menu__user-comparison,
	.menu__user-favorite {
		display: none;
	}
	.menu__user-basket a {
		color: #fff;
	}
	.submenu {
		display: none;
	}
	.menu__main-catalog_btn span {
		background-color: #fff;
		width: 100%;
		height: 3px;
	}
	.menu__main-catalog_btn .catalog {
		display: none;
	}
	.logo__link {
		grid-column: 2/3;
		grid-row: 1;
	}
	.menu__search {
		grid-column: 3;
	}
	.menu__header {
		background-color: #000;
	}
	.logo {
		width: 85%;
	}
	.main__items-wrap {
		grid-template-columns: 1fr;
		grid-template-rows: repeat(6, 0fr);
	}
	.help {
		grid-column: 1/3;
		align-items: center;
		height: 100%;
	}
	.help img {
		display: none;
	}
	.pay {
		grid-column: 1/3;
		grid-row: 2/3;
	}
	.pay img {
		right: 30px;
		top: 60px;
	}
	.refund {
		grid-row: 3/4;
		grid-column: 1/3;
	}
	.bonus {
		grid-row: 4/5;
		grid-column: 1/3;
	}
	.warranty {
		grid-row: 5/6;
		grid-column: 1/3;
	}
	.delivery {
		grid-row: 6;
		grid-column: 1/3;
	}
	.footer__wrap {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
	}
	.footer__app {
		grid-column: 1/4;
		grid-row: 1;
	}
	.footer__app-title {
		text-align: center;
	}
	.footer__app-wrap {
		margin-bottom: 30px;
	}
	.footer__app-code {
		display: none;
	}
	.footer__app-btns {
		flex-direction: row;
	}
	.footer__social {
		display: none;
	}
	.footer__subscribe {
		width: 100%;
	}
	.footer__subscribe-input {
		width: 100%;
	}
	.menu__catalog {
		width: 98%;
	}
	.menu__catalog-categories {
		width: 100%;
	}
	.menu__catalog_item {
		width: 100%;
	}
	.menu__catalog-optionally {
		display: none;
	}
	.menu__search-live {
		left: 60%;
		top: 100px;
	}
}

@media (max-width: 425px) {
	.container {
		width: 100%;
	}
	.container__mobile {
		display: block;
		width: 334px;
		margin: 0 auto;
	}
	.container-main {
		display: none;
	}
	.menu__main-wrap {
		height: 32px;
		padding: 18px;
	}
	.menu__search input {
		display: none;
	}
	.menu__search {
		width: 22px;
		height: 22px;
		background: transparent;
	}
	.menu__user-login {
		display: none;
	}
	.menu__main-catalog_btn {
		width: 32px;
		height: 22px;
	}
	.basket p,
	.basket span {
		display: none;
	}
	.main__title-wrap {
		display: flex;
		flex-direction: column;
		margin: 3px 0 20px;
		justify-content: space-between;
		align-items: flex-start;
	}
	.main__hotline {
		font-size: 16px;
	}
	.main__phone-number {
		font-weight: 700;
	}
	.help__title {
		font-size: 24px;
		font-weight: 700;
	}
	.help__subtitle {
		font-size: 16px;
	}
	.main__phone {
		align-items: center;
		display: flex;
		gap: 5px;
		flex-direction: column;
		align-items: flex-start;
	}
	.help {
		background: transparent;
		align-items: flex-start;
		padding: 0;
		margin-bottom: 26px;
	}
	.help__btn {
		width: 100%;
	}
	.delivery {
		height: 295px;
		margin-top: 50px;
		margin-bottom: 20px;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: flex-end;
		position: relative;
	}
	.delivery__title {
		display: none;
	}
	.delivery__title-mobile {
		display: inline;
		color: #333;
		font-family: Open Sans;
		font-size: 26px;
		font-weight: 700;
		line-height: 38px;
		letter-spacing: 0.26px;
		text-align: left;
	}
	.delivery__descr {
		font-size: 16px;
	}
	.delivery__btn {
		width: 100%;
	}
	.delivery__img {
		position: absolute;
		width: 260px;
		top: -20px;
	}
	.bonus img {
		display: none;
	}
	.bonus {
		height: 146px;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
		padding: 21px 0 31px 14px;
		margin-bottom: 26px;
	}
	.bonus__list {
		margin-left: 19px;
	}
	.bonus__title {
		font-size: 20px;
	}
	.pay {
		background: transparent;
		padding: 0;
		width: 100%;
		margin-bottom: 49px;
	}
	.pay__title {
		font-size: 26px;
	}
	.pay__link {
		width: 100%;
		border-bottom: 1px solid #ececec;
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding-bottom: 11px;
	}
	.pay__link::after {
		display: block;
		content: '';
		width: 7px;
		height: 12px;
		background-image: url(../img/icon/arrow-black.svg);
	}
	.pay__link a {
		font-size: 16px;
		text-decoration: none;
	}
	.make-order {
		margin-bottom: 36px;
	}
	.make-order__list {
		list-style-type: disc;
	}
	.make-order__item a {
		text-decoration: underline;
		color: #333;
	}
	.refund__title {
		margin-bottom: 56px;
	}
	.refund {
		position: relative;
		padding: 0 16px;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: flex-end;
		height: 900px;
		margin-bottom: 49px;
	}
	.refund__img {
		position: absolute;
		top: -28px;
		right: 65px;
	}
	.easy-refund__subtitle {
		color: #333;
		font-size: 16px;
		font-weight: 600;
		margin: 0 0 30px;
	}
	.easy-refund__list {
		list-style-type: disc;
	}
	.warranty {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		background: transparent;
		padding: 0;
		margin-bottom: 36px;
		min-height: 271px;
	}
	.warrnty__descr {
		text-align: left;
	}
	.warranty__btn {
		width: 100%;
		height: 52px;
	}
	.warranty__title {
		font-size: 26px;
		margin-bottom: 13px;
	}
	.feedback {
		margin-bottom: 100px;
	}
	.feedback__title {
		margin-top: 36px;
	}
	.feedback__list {
		list-style-type: disc;
	}
	.feedback__item {
		line-height: 24px;
	}
	.feedback__item a {
		text-decoration: underline;
	}
	.footer__app {
		width: 100%;
		height: 135px;
		border-radius: 10px 10px 0px 0px;
		background: #333;
	}
	.footer__app-wrapper {
		width: 100%;
		height: 135px;
		border-radius: 10px 10px 0px 0px;
		background: #333;
		padding: 15px;
	}
	.footer__app-btn {
		width: 100%;
	}
	.footer__app-title {
		font-size: 16px;
		text-align: left;
	}
	.footer__app-wrap {
		display: block;
	}
}
@media (max-width: 320px) {
	.container__mobile {
		width: 300px;
	}
	.refund__img {
		position: absolute;
		top: -39px;
		right: 86px;
		width: 65%;
	}
}
